@page "/bic-fhtw-bot"

@using WebClient.Shared

<h1>Hello there!</h1>
This website is still under construction, although base functionality exists, there are still plenty areas that need work. To keep updated on the status of the website and bot, visit the <a href="https://github.com/HackXIt/bic-fhtw-discord-bot">repository</a> at: <a href="https://github.com/HackXIt/bic-fhtw-discord-bot">https://github.com/HackXIt/bic-fhtw-discord-bot</a>.
